<ion-view view-title="Calendar">
  <ion-content>
    <ion-list>
      <ion-item>
        <button ng-click="listCals()" class="button button-block button-stable">
          Load cal
        </button>
      </ion-item>
      <ion-item ng-repeat="hour in hours">
        <div id="{{hour.codeTime}}">
          <div>{{hour.hour}} {{hour.time}}</div>
          <span ng-repeat="event in hour.events">
            TEST
          </span>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
