<ion-view view-title="Freeminder">
  <ion-header-bar class="bar bar-subheader new-todo">
    <form ng-submit="createNewTask()">
      <input class="input-todo" type="text" placeholder="Add todo here..." ng-model="newTaskInput">
    </form>
    <div class=" range">
      <i class="icon ion-ios-star-outline"></i>
      <input type="range" min="0" max="100" value="50" name="priority" ng-model="priority">
      <i class="icon ion-ios-star"></i>
  </div>
  </ion-header-bar>
  <ion-content class="cal">
    <ion-list delegate-handle="listTask" can-swipe="true">
      <ion-item ng-repeat="todo in todos track by $index" ng-click="setDetailToShow(todo.id)">
        <div class="item-title">{{todo.title}}</div><div class="item-rating" ng-bind-html="todo.stars"></div>
        <div ng-show='showDetail === todo.id'>Extra setting, displayed only when required ;)</div>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="removeTask($index)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
