<ion-view view-title="Calendar">
  <ion-content>
    <ion-list>
      <!-- <ion-item>
        <button ng-click="listCals()" class="button button-block button-stable">
          Load cal
        </button>
      </ion-item> -->
      <ion-item ng-style="hour.cellProp.style" ng-repeat="hour in hours" class="time-row">
        <div id="{{hour.cellProp.codeTime}}">
          <div class="time-label">{{hour.cellProp.hour}}{{hour.cellProp.time.toLowerCase()}}</div>
          <div ng-style="event" ng-repeat="event in hour.events">
            <div class="eventTitle">{{hour.cellProp.eventTitle}}</div>
          </div>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
