.new-todo{
  height: 100px;
}

input[type="text"].input-todo{
  line-height: 30px;
  font-size: 25px;
  padding-top: 20px;
  margin-left: 10px;
  width: 94%
}

.rating-stars{
  text-align: center;
}

.cal{
  margin-top: 54px;
}

.time-row{
  padding: 0;
  height: 100px;
  overflow: visible;
}

.time-label{
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  /*z-index: 99900;*/
  color: grey;
  font-size: 13px;
}

.eventTitle{
  color: white;
  padding: 10px;
}
